body {
	background-image:url(../images/sample-photo.jpeg);
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	background-size:cover;	
	font-family:'Raleway', sans-serif;
	font-weight:400;
	font-size:25px;
}

a {
	cursor:pointer;
	transition:ease-in-out .2s;
}

button {
	font-family:'Oswald', sans-serif;
	font-weight:400;
	cursor:pointer;
	padding:2px 8px;
	border-radius:3px;
	box-sizing:border-box;
	border:solid 2px transparent;
	transition:ease-in-out .2s;
}

button:hover {
	border-color:rgba(255,255,255,0.5);
	color:#82c63f;
}

i.left {
	padding:0 5px 0 0;
}

i.right {
	padding:0 0 0 5px;
}

/* HEADER */

header {
	background:rgba(0,0,0,.7);
	color:white;
	overflow:auto;
}

header div {
	padding:10px;
}

header h1 {
	padding:13px 18px;
}

#volume {
	float:left;
}

#volume-slider-container {
	position:relative;
	display:inline-block;
	width:100px;
	height:20px;
	padding:0;
}

#volume-slider {
	height:10px;
	border:2px solid white;
	box-sizing:border-box;
	width:100px;
	padding:0;
	position:absolute;
	border-radius:5px;
	top:50%;
	left:50%;
	margin:-5px 0 0 -50px;
}

#slider-button {
	height:20px;
	width:20px;
	border-radius:50%;
	background:white;
	position:absolute;
	top:50%;
	left:5px;
	margin-top:-10px;
}

.fa-volume-up, .fa-volume-down {
	width:25px;
}

#fullscreen {
	float:left;
}


#header-logo {
	float:right;
}

.logo {
	font-family:'Raleway', sans-serif;
	font-weight:200;
	font-size:35px;
	color:#82c63f;
}

.logo span {
	font-weight:600;
}


#menu-icon {
	float:right;
}

/* MENU */

#menu {
	position:absolute;
	width:320px;
	top:62px;
	right:0;
	background:rgba(0,0,0,.7);
	color:white;
	min-height:calc(100% - 62px);
}

#menu a, #menu a:visited {
	color:white;
}

#menu a:hover {
	color:#82c63f;
}

#menu_container {
	position:relative;
	min-height:100%;
	padding:20px 10px;
	height:100%;
}

/* MENU NAV */

#menu nav {
	padding:10px 0;
}

#menu nav li {
	display:inline-block;
	margin:5px 5%;
	width:40%;
	box-sizing:border-box;	
	border-radius:50%;
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	position:relative;
	border:solid 4px rgba(0,0,0,.8);
	transition:ease-in-out .2s;
	
}

#menu nav li:after {
	  content: "";
	  display: block;
	  padding-bottom: 100%;
}

#menu nav li div {
	position:absolute;
	width:100%;
	height:30%;
	text-align:center;
	margin:auto;
	top:0;
	left:0;
	right:0;
	bottom:0;
	font-family:"Oswald", sans-serif;
	font-size:35px;
	text-shadow:0 0 8px black;
}

#menu nav li#rain {
	background-image:url(../images/rain.jpeg);
}

#menu nav li#beach {
	background-image:url(../images/beach.jpeg);
}

#menu nav li#snow {
	background-image:url(../images/snow.jpeg);
}

#menu nav li#river {
	background-image:url(../images/river.jpeg);
}

#menu nav li.active, #menu nav li.active:hover {
	border-color:#82c63f;
	cursor:default;
}

#menu nav li:hover {
	border-color:#CCC;
	cursor:pointer;
}

/* PHOTO NAV */

#photo-nav {
	padding:10px 0;
}

#prev, #next {
	color:#666;
	margin-top:-2px;
}

#prev:hover, #next:hover {
	color:#82c63f;
}

#prev {
	float:left;
}

#next {
	float:right;
}

#photo-nav h2 {
	font-family:"Oswald", sans-serif;
	font-size:35px;
	text-align:center;
}

/* PHOTO INFO */

#photo-info {
	padding-top:10px;
	font-size:20px;
	padding-bottom:155px; /* height of footer */
}

#photo-info div {
	margin:10px;
	height:50px;
}

#photo-info .photographer {
	height:38px;
}

#photo-info .photographer img {
	border-radius:50%;
	width:40px;
	height:40px;
	margin-right:10px;
	margin-bottom:-12px;
	box-sizing:border-box;
	border:solid 2px white;
}

i.fa-map-marker {
	font-size:35px;
	padding-right:19px;
	padding-left:10px;
}

i.fa-camera {
	font-size: 25px;
    padding-right: 15px;
    padding-left: 7px;
}

/* FOOTER */

footer {
	bottom:25px;
	position:absolute;
	height:100px;
	border-top:solid 2px #666;
	box-sizing:border-box;
	padding: 10px;
	margin: 0 5%;
    width: 90%;
    left: 0;
}

#author, #share {
	width:50%;
	box-sizing:border-box;
	display:inline-block;
	text-align:center;
}

#author p {
	font-size:15px;
}

#social li {
	display:inline-block;
	padding:10px 5px;
	font-size:25px;
}

#share {
	vertical-align:top;
	margin-top:5px;
}



