body {
	width:100%;
	margin:0;
	font-size:100%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

header {
	background-image:url(http://placebear.com/1500/300);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top center;
	padding-bottom:50px;
}

nav ul {
	padding:10px;
}


nav li {
	display:inline-block;
	list-style:none;
	font-size:1.5em;
	padding:5px 15px;
	background:white;
	margin:5px;
	cursor:pointer;
}

nav li a, nav li a:visited {
	color:#80a0b8;
	text-decoration:none;
	cursor:pointer;
}

nav li:hover {
	background:#f3f3f3;
}

#slider {
	max-width:900px;
	background:rgba(255,255,255,.8);
	margin:50px auto;
	text-align:center;
}

#slider h1 {
	vertical-align:middle;
	display:inline-block;
	padding:50px;
	margin:0;
}

.container {
	padding:20px;
}

.container.blue {
	background:#80a0b8;
}

.col-2 {
	width:49%;
	display:inline-block;
	margin-right:2%;
}

.col-3 {
	width:31%;
	display:inline-block;
	margin-right:2%;
}

.col-2:last-child, col-3:last-child {
	margin-right:0;
}

@media (max-width:800px) {
	.col-2, .col-3 {
		width:100%;
		margin:0;
	}
	nav {
		display:none;
	}
}